<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.vincent.crm.contract.record.mapper.PaymentRecordMapper">

    <resultMap id="BaseResultMap" type="cn.vincent.crm.contract.record.domain.PaymentRecord">
        <id column="id" property="id"/>
        <result column="contract_id" property="contractId"/>
        <result column="plan_id" property="planId"/>
        <result column="amount" property="amount"/>
        <result column="payment_date" property="paymentDate"/>
        <result column="payment_method" property="paymentMethod"/>
        <result column="remark" property="remark"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, contract_id, plan_id, amount, payment_date, payment_method, remark,
        create_user, update_user, create_time, update_time
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM crm_payment_record
        WHERE id = #{id}
    </select>

    <select id="selectByIds" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM crm_payment_record
        WHERE id IN
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <insert id="insert" parameterType="cn.vincent.crm.contract.record.domain.PaymentRecord">
        INSERT INTO crm_payment_record (id, contract_id, plan_id, amount, payment_date, payment_method, remark,
                                        create_user, update_user, create_time, update_time)
        VALUES (#{id}, #{contractId}, #{planId}, #{amount}, #{paymentDate}, #{paymentMethod}, #{remark},
                #{createUser}, #{updateUser}, #{createTime}, #{updateTime})
    </insert>

    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO crm_payment_record (id, contract_id, plan_id, amount, payment_date, payment_method, remark,
                                        create_user, update_user, create_time, update_time)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.id}, #{item.contractId}, #{item.planId}, #{item.amount}, #{item.paymentDate}, #{item.paymentMethod}, #{item.remark},
             #{item.createUser}, #{item.updateUser}, #{item.createTime}, #{item.updateTime})
        </foreach>
    </insert>

    <update id="update" parameterType="cn.vincent.crm.contract.record.domain.PaymentRecord">
        UPDATE crm_payment_record
        <set>
            <if test="contractId != null">contract_id = #{contractId},</if>
            <if test="planId != null">plan_id = #{planId},</if>
            <if test="amount != null">amount = #{amount},</if>
            <if test="paymentDate != null">payment_date = #{paymentDate},</if>
            <if test="paymentMethod != null">payment_method = #{paymentMethod},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="updateUser != null">update_user = #{updateUser},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteByIds" parameterType="java.util.List">
        DELETE FROM crm_payment_record
        WHERE id IN
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
